@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
}
:root{
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    --primary-color:#FFFFFF;
    --secondary-color:#1E1E1E;
    --third-color:#007bff;
    --fourth-color:#17a2b8;
    --fifth-color:#cc9966;
    --width:100%;
    --height:100%;
    ---height:71px ;
    --display:flex;
    --justify-content: center;
    --align-items: center;
    --section-height:730px;
    --bottom:85px;
    --section-width:1200px;
    --border-section: 2px solid rgb(206, 204, 204);
}
.container{
    width: var(--width);
    height: var(--height);
  
}
.active{
    opacity:1;
    color: #1E1E1E;
}
.navbar{
    width: var(--width);
    height:var(---height);
    background-color:var(--primary-color);
    display: var(--display);
    position: fixed;
    z-index: 4;

 
   
}
.logo{
    width: 120px;
    height: var(---height);
    display: var(--display);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    
}
.navlinks{
list-style-type: none;
display: var(--display);
width: 35%;
height: var(---height);
margin-left: 50%;
justify-content: var(--justify-content);
align-items: var(--align-items);

}
.navlinks li a{
    color: #86888a;
    font-size: 1rem;
    padding: 15px;
}
.navlinks li a:hover{
    color: black;
}

#menu-bar{
    display: none;
}
#check-box{
    width: 100px;
    height:71px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    display: none;
}
.home{
    width: 100%;
    height: 850px;
    position: relative;
    bottom: 85px;
}
.home_poster{
    position: absolute;
    width: 100%;
    height:850px ;
    min-height:40rem;
    background: url(image/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home_content{
    position: absolute;
    top: 35%;
    left: 8%;
    width: 600px;
    height: 350px;
  
}
.home_content h1{
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;


}
.home_content p{
    text-align: center;
    margin-top: 1%;
    line-height: 2;
    letter-spacing: 2%;
    font-size: 20px;
    font-family:inherit;
    font-weight:lighter;
    padding: 3%;
}
.hm_btn{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}
.hm_btn:hover{
    background-color: #3d78b6;
}
.about{
    width: 100%;
    height: var(--section-height);
    position: relative;
    bottom:var(--bottom);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about_main{
    width: 1200px;
    height: var(--section-height);
 
  display: flex;
}
.about_boxes{
    width: 600px;
    height:var(--section-height);
    border: 2px solid rgb(206, 204, 204);
}
.ab1{
    border-right: none;
}
.about_image{
    width:600px;
    height: var(--section-height);

}
.ab2{
    display: flex;
    justify-content: center;
}
.about_content_box{
    width: 570px;
    height:400px;
    background-color:var(--fourth-color) ;
    border-radius: 7px;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.sub_box_about{
    width:530px ;
    height:260px ;
    margin-left: 6%;
}
.sub_box_about h1{
    font-size: 44px;
    font-weight: 500;
}
.sub_box_about p{
    font-size:1.25rem;
    line-height: 2;
    letter-spacing: 4%;
    font-weight: lighter;
}
.about_btn{
    width: 120px;
    height: 50px;
    color:white;
    background-color: #007bff;
    border-radius: 8px;
    border-color: #007bff;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}
.facility{
    width: var(--width);
    height: 340px;
    position: relative;
    bottom: var(--bottom);
    display: flex;
    justify-content: center;
}
.facility-main_box{
    width: var(--section-width);
    height: 340px;
    border:var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;

}
.facility-sub-boxes{
    width: var(--section-width);
    height:365px;
    border:var(--border-section);
    border-top: none;
}
.fmb1{
    height: 120px;
}
.facility-image{
    width: 380px;
    height: 78px;
  
}
.facility-image img{
    height: 78px;
    margin-left: 3%;
}
.fmb1 h1{
    margin-top: 8px;
    margin-left: 1%;
    padding:3px;
    font-size:1.50rem;
    font-weight:600;
}
.fmb2{
    height: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: none;
  
}
.facility-sub-grid-box{
    width: 300px;
    height:220px;
    border:var(--border-section);
    border-top: none;
     
}
.fc-image{
    width: 200px;
    height: 105px;
    margin-left: 5%;
  
}
.facility-sub-grid-box h1{
    font-size: 24px;
    margin: 3%;
    font-weight: 500;
    font-family: inherit;
}
.facility-sub-grid-box p{
    font-family: inherit;
    font-size: 1rem;
    margin: 2%;
    margin-bottom:5px;
    font-weight: 450;
    color: #484343;
    line-height: -0.5;
}
.gb1, .gb2, .gb3, .gb4{
    border-right: none;
}
.gb1{
    border-left: none;
}
.menu{
    width: 100%;
    height: 852px;
    position: relative;
    bottom: var(--bottom);
    display: flex;
    justify-content: center;
}
.main-menu{
    width:var(--section-width);
    height: 852px;
    border: var(--border-section);
    border-top: none;

}
.main-sub-boxes{
    width: 1200px;
    height: 365px;
    border-top: none;
    border-right: none;

   
}
.msb1{
    height: 119px;
    border-top: none;
    
   
}
.menu-image{
    height: 76px;
    width: 370px;
    margin-left:1%;
}
.msb1 h1{
    margin-top: 8px;
    margin-left:1%;
    padding:3px;
    font-size:1.50rem;
    font-weight:600;
}
.msb2{
    height: 730px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.menu-sub-sub-box{
    width:400px;
    height: 365px;
    border:var(--border-section);
    border-left: none;
    border-bottom: none;
} 
.menu-cimage{
    width: 400px;
    height: 305px;
 
}
.menu-cimage img{
    margin-left: 10%;
}
.menu-sub-sub-box h1{
    margin-top: 16px;
    margin-left:3%;
    padding:3px;
    font-size:1.35rem;
    font-weight:550;
    font-family: inherit;
}
.gallery{
    width: 100%;
    height: var(--section-height);
    display: flex;
    justify-content: center;
}
.main-gallery{
    position: relative;
    bottom: var(--bottom);
    width: 1200px;
    height: var(--section-height);
    border:var(--border-section);
    border-top: none;
}
.gallery-box{
    width:1200px;
    height:365px ;
    border: var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;
}
.gbb1{
    height: 119px;
    border-bottom: none;
}
.gallery-head-image{
    width: 360px;
    height: 76px;
    margin-left:1%;
}
.gbb1 h1{
    margin-top:8px;
    margin-left:1%;
    font-size:1.50rem;
    font-weight:600;
    font-family:inherit;
}
.gbb2{
    height:610px;
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.gallery-boxes-image{
    width:400px;
    height:305px ;
    border: var(--border-section);
    border-left: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.gall-image{
    width: 390px;
    height:290px ;
}
.gall-image img{
    width: 390px;
    height:290px ;
}
.team{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center; 
}
.main-team{
    position: relative;
    bottom: var(--bottom);
    width: 1200px;
    height: 950px;
    border:var(--border-section);
    border-top: none;
}
.main-team-sub-box{
    width:1200px;
    height:520px ;
    border: var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;   
}
.mts1{
   height: 119px;
   border-bottom: none;
}
.team-head-image{
    width: 360px;
    height: 76px;
    margin-left:1%;
}
.main-team-sub-box h1{
    margin-top:8px;
    margin-left:1%;
    font-size:1.50rem;
    font-weight:600;
    font-family:inherit;
}
.mts2{
    height:830px ;
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
 
}
.team-grid-box{
    width: 400px;
    height: 415px;
    border: var(--border-section);
    border-left: none;
    border-bottom: none;
  
}
.teamates-image{
    width: 390px;
    height: 373px;
    margin-left: 4px;
}
.teamates-image img{
    width: 390px;
    height: 373px;
}
.team-grid-box h1{
    margin-left:2%;
    margin-bottom:10%;
    padding:-1px;
    font-size:1.35rem;
    font-weight:600;
    font-family: inherit;
}
.contact{
    width: 100%;
    height: 1700px;
    display: flex;
    justify-content: center;
}
.contact-main{
    width: 1200px;
    height: 1030px;
    border: var(--border-section);
    position: relative;
    bottom: var(--bottom);
    border-top: none;
    border-bottom: none;
}
.contact-row-box{
    width: 1200px;
    height:425px;
    border: var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;

  
}
.rc1{
    height: 119px;

}
.contact-header-image{
    width: 360px;
    height: 76px;
    margin-left:1%;
}
.rc1 h1{
    margin-top:8px;
    margin-left:1%;
    font-size:1.50rem;
    font-weight:600;
    font-family:inherit;
    
}
.rc2{
    height: 600px;
    display: flex;

    
  
    
}
.contact-row-sub-box{
    width: 600px;
    height:600px ;
    border: var(--border-section);
    border-right: none;
}
.contact-row-image{
    width: 600px;
    height:600px ;
}
.crsb1{
    border-top: none;
    border-left: none;
}
.crsb2{
    display: flex;
    justify-content: center;
    border-top:none ;
   
}
.contact-form-box{
    width: 580px;
    height: 380px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-form-box h1{
    margin-top: 2%;
    font-weight: 450;
    letter-spacing: 2%;
    text-align: center;
    
}
.contact-input-forms{
    width:500px ;
    height: 300px;
    margin-left: 7%;
    margin-bottom: 1%;
 
}
.contact-input-forms input{
   margin-left: 16%;
   margin-top: 2%;
   width: 330px;
   height: 40px;
   padding: 5%;
   font-size: 1.20rem;
   border: none;
   border: 2px solid black;
}
.abtc-btn{
    width: 110px;
    height: 40px;
    background-color: #cc9966;
    color: #FFFFFF;
    margin-left: 37%;
    margin-top: 2%;
    border: none;
    font-size: 1.10rem;
    cursor: pointer;
}
.rc3{
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.contact-icon-email-box{
    width:300px;
    height: 200px;
    border: var(--border-section);
    border-top: none;
    border-right: none;
}
.contact-circle{
    width: 85px;
    height: 85px;
    border-radius: 100px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    
}
.contact-circle a{
    font-size:40px;
    color: aquamarine;
   
}
.contact-icon-email-box h1{
  
    font-size:1.50rem;
    font-weight:600;
    font-family:inherit;
    margin-left: 6%;
}
.contact-icon-email-box p{
    font-size: 18px;
    margin-left: 6%;
    font-family: inherit;
    letter-spacing:1%;
    line-height:1.5;
    font-weight: 450;
}
.rc4{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vertical-line{
    width: 1000px;
    border-bottom:3px solid black;
}
.rc4 h1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 2%;
}
.rc4 span{
    color: #dc3545;
}
@media(max-width:900px){
    .container{
        width: 100%;
        height: 100%;
    }
    .navbar{
        position: relative;
        width:100%;
        right: 0;
    }
    .navlinks{
        width:100%;
        height:280px;
        background-color:white;
        position: absolute;
        right: 0;
        top: 90%;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
         display: none;
         
        }
        .navlinks li a{
          font-size:1rem;
          padding:5px;
         
        }
    #check-box{
        width: 100%;
        height: 71px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3%;
        cursor: pointer;
      
    }
    #menu-bar:checked ~.navlinks{
        display: flex;
    }

    .home{
        width: 100%;
        height: 850px;
        margin-top: 10%;
        position: relative;
        bottom: 231px;
        background-color: #1E1E1E;
  
    }
    .home_poster{
        width: 170%;
        background:url(image/home-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
    }
    .home_content{
        left: 50%;
    }
    .home_conten h1{
           font-size: 35px;
    }
  .about{
    width:100%;
    height:var(--section-height);
    position: relative;
    bottom: 231px;
  }
  .about_main{
    width:600px;
    height: var(--section-height);
    border:var(--border-section);

    display: flex;
    flex-direction: column;
  }
  .about_boxes{
    width:600px;
    height:365px;
  }
 
  .ab1{
    border-bottom: none;
    border-top: none;
    border-left: none;
  }
  .ab2{
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .about_image{
    width:600px;
    height:365px;
    display: flex;
    justify-content: center;
    
  }
  .about_image img{
    margin-left: 3%;
  }
  .about_content_box{
    width: 543px;
    height:300px ;
  }
  .sub_box_about{
     width: 531px;
  }
  .sub_box_about h1{
    font-size: 28px;
  }
  .sub_box_about p{
    line-height: 1.20;
    letter-spacing: 2%;
    margin-top: 2%;
    font-size: 1.50rem;
  }
  .about_btn{
    margin-top: 5%;
  }
.facility{
    width: 100%;
    height:881px;
    position: relative;
    bottom: 231px;
}
.facility-main_box{
    width:600px;
    height:881px;
    border:var(--border-section);
    border-top: none; 
    border-bottom: none;
  



}
.facility-sub-boxes{
    width:600px;
    height: 365px;
    border: var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;
   
  
}
.fmb1{
    height: 119px;
}
.facility-image{
    width:600px;
    height: 70px;
    margin-left: 2%;
}
.facility-image img{
    height: 70px;
}
.fmb1 h1{
    margin-left: 4%;
    margin-bottom:20px;
}
.fmb2{
    height: 610px;
    height: 760px;
    display: grid;
    grid-template-columns: 1fr;
   
}
.facility-sub-grid-box {
    width: 600px;
    height: 190px;
    border: var(--border-section);
    border-top: none;
    border-right: none;
    border-left: none;
   
}
.fc-image{
    width:70px;
    height: 70px;
   
}
.gb1 img{
 width:70px;
 height: 70px;
}
.gb1 h1{
    font-size: 1.50rem;
    margin-bottom: -1%;
}
.gb1 p{
    margin-bottom:5%;
    margin-left: 3%;
}
.gb2 img{
    width:70px;
    height: 70px;
   }
   .gb2 h1{
       font-size: 1.50rem;
       margin-bottom: -1%;
   }
   .gb2 p{
       margin-bottom:5%;
       margin-left: 3%;
   }
   .gb3 img{
    width:70px;
    height: 70px;
   }
   .gb3 h1{
       font-size: 1.50rem;
       margin-bottom: -1%;
   }
   .gb3 p{
       margin-bottom:5%;
       margin-left: 3%;
   }
   .gb4 img{
    width:70px;
    height: 70px;
   }
   .gb4 h1{
       font-size: 1.50rem;
       margin-bottom: -1%;
   }
   .gb4 p{
       margin-bottom:5%;
       margin-left: 3%;
   }
   .menu{
    width: 100%;
    height: 2500px;
    position: relative;
    bottom: 234px;
    right: 0;
   }
   .main-menu{
    width: 600px;
    height: 2500px;
    border:var(--border-section);
    border-top: none;
   }
   .main-sub-boxes{
    width: 600px;
    height: 679px;
    border:var(--border-section);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: none;
    border-right: none;
    border-top: none;
   }
   .msb1{
    width: 600px;
    height: 120px;
    border-bottom: none;
   }
   .menu-image{
    width: 600px;
    height: 76px;
   }
   .menu-image img{
    margin-left:2% ;
   }
    .msb1 h1{
        margin-left: 2%;
    }
    .msb2{
        width: 600px;
        height: 2379px;
        border:var(--border-section);
        display: flex;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        
       
    }
    .menu-sub-sub-box{
       
        border: none;
        width:600px ;
        height: 400px;
        border: var(--border-section);
        border-left: none;
        border-bottom: none;
        border-right: none;
      
    }
    .menu-cimage img{
        margin-left: 35%;
    }
    .gallery{
        width: 100%;
        height: 2123px;
        position: relative;
        bottom: 234px;
    }
    .main-gallery{
        width: 600px;
        height: 2123px;
        border:var(--border-section);
        border-top: none;
        position: absolute;
        top:0%;
     
    }
    .gallery-box{
        width: 600px;
        height: 1000px;
        border:var(--border-section);
       
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .gbb1{
        height: 120px;
        border-top: none;
    }
    .gbb2{
        height: 2000px;
        display:grid;
        grid-template-columns: 1fr;

    }
    .gallery-head-image{
        margin-left: 3%;
    }
    .gbb1 h1{
        margin-left: 3%;
    }
    .gallery-boxes-image{
        width: 600px;
        height: 333px;
        border: var(--border-section);
        border-top: none;
        border-right: none;
        border-left: none;
    }
    .ss{
        border-bottom: none;
    }
    .team{
        width: 100%;
        height: 2902px;
        position: relative;
        bottom: 234px;
    }
    .main-team{
        width: 600px;
        height: 2902px;
        border: var(--border-section);
        border-top: none;
        position: absolute;
        top: 0;
    }
    .main-team-sub-box{
        width: 600px;
        height:1300px;
        border: var(--border-section);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .mts1{
        height: 120px;
    }
    .mts2{
        height: 2778px;
        display: flex;
        flex-direction: column;
      
    }
    .team-head-image{
        margin-left: 3%;
    }
    .mts1 h1{
        margin-left: 3%;
    }
    .team-grid-box{
        width: 600px;
        height:463px ;
        border: var(--border-section);
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .team-grid-box h1{
        text-align: center;
    }
    .teamates-image img{
        margin-left:24%;
    }
   .contact{
    width: 100%;
    height: 1874px;
    position: relative;
    bottom: 234px;
   }
   .contact-main{
    width: 600px;
    height: 1874px;
    border: var(--border-section);
    border-top: none;
    position: absolute;
    top: 0;
   }
   .contact-row-box{
    width: 600px;
    height:300px ;
    border: var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;
   }
   .rc1{
    height: 120px;
   }
   .contact-header-image{
    width: 600px;
   }
   .contact-header-image img{
    margin-left: 3%;
   }
   .rc1 h1{
    margin-left: 3%;
   }
   .rc2{
    height: 850px;
    display: grid;
    grid-template-columns: 1fr;
   }
   .contact-row-sub-box{
    width: 600px;
    height: 425px;
    border: var(--border-section);
    border-right: none;
    border-top: none;
    border-left: none;
   }
   .contact-row-image{
    width: 600px;
    height: 425px;
   }
   .contact-row-image img{
    width: 600px;
    height: 425px;
   }
   .contact-form-box h1{
    margin-left: 3%;
   }
   .rc3{
    height:700px;
    border: var(--border-section);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr;
   }
   .contact-icon-email-box{
    width: 600px;
    height: 174px;
    border:var(--border-section);
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
   }
   .cnt{
    margin-left: 13%;
   }
   .contact-circle{
    margin-left: 15%;
   }
   .rc4{
    width: 600px;
    height: 200px;
    border-bottom: none;
   }
   .vertical-line{
     width: 550px;
   }
   .rc4 h1{
    margin-left: 4%;
   }
 
 
}